.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}
.main{
    max-height: 100vh;
    width: 40%;
    background-color: rgb(159, 121, 195);
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
    gap:20px;
    padding: 10px;
    border-radius: 20px;
}
.name1{
    height: 30px;
    width: 200px;
    border-radius: 5px;
}
.price{
    height: 30px;
    width: 200px;
    border-radius: 5px;
}
.add{
    height: 35px;
    width: 100px;
    border-radius: 10px;
}
.showbtn{
    height: 35px;
    width: 200px;
    border-radius: 10px;
}
.show{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
.calculate{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
}


.totalbtn{
   height: 35px;
    width: 200px;
    border-radius: 10px;
}